CONFIG VCCAUX = "2.5";

NET "sdi_dq0"  LOC = H6   | IOSTANDARD = LVCMOS25;
NET "sdo_dq1"  LOC = AF6  | IOSTANDARD = LVCMOS25;
NET "csn"      LOC = AE24 | IOSTANDARD = LVCMOS25;
NET "sck"      LOC = AH6  | IOSTANDARD = LVCMOS25;
