NET "csn"       LOC = AL33 | IOSTANDARD = LVCMOS18;
NET "sdi_dq0"   LOC = AN33 | IOSTANDARD = LVCMOS18;
NET "sdo_dq1"   LOC = AN34 | IOSTANDARD = LVCMOS18;
NET "wpn_dq2"   LOC = AK34 | IOSTANDARD = LVCMOS18;
NET "hldn_dq3"  LOC = AL34 | IOSTANDARD = LVCMOS18;
