NET "csn"       LOC = U19 | IOSTANDARD = LVCMOS33;
NET "sdi_dq0"   LOC = P24 | IOSTANDARD = LVCMOS33;
NET "sdo_dq1"   LOC = R25 | IOSTANDARD = LVCMOS33;
NET "wpn_dq2"   LOC = R20 | IOSTANDARD = LVCMOS33;
NET "hldn_dq3"  LOC = R21 | IOSTANDARD = LVCMOS33;

