CONFIG VCCAUX = "2.5";

NET "sdi_dq0"  LOC = AB20 | IOSTANDARD = LVCMOS25;
NET "sdo_dq1"  LOC = AA20 | IOSTANDARD = LVCMOS25;
NET "wpn_dq2"  LOC = U14  | IOSTANDARD = LVCMOS25;
NET "hldn_dq3" LOC = U13  | IOSTANDARD = LVCMOS25;
NET "csn"      LOC = T5   | IOSTANDARD = LVCMOS25;
NET "sck"      LOC = Y21  | IOSTANDARD = LVCMOS25;
