CONFIG VCCAUX = "2.5";

NET "sdi_dq0"  LOC = T13 | IOSTANDARD = LVCMOS33;
NET "sdo_dq1"  LOC = R13 | IOSTANDARD = LVCMOS33;
NET "wpn_dq2"  LOC = T14 | IOSTANDARD = LVCMOS33;
NET "hldn_dq3" LOC = V14 | IOSTANDARD = LVCMOS33;
NET "csn"      LOC = V3  | IOSTANDARD = LVCMOS33;
NET "sck"      LOC = R15 | IOSTANDARD = LVCMOS33;
