NET "sdi_dq0"  LOC = P27 | IOSTANDARD = LVCMOS33;
NET "sdo_dq1"  LOC = P44 | IOSTANDARD = LVCMOS33;
NET "csn"      LOC = P24 | IOSTANDARD = LVCMOS33;
NET "sck"      LOC = P50 | IOSTANDARD = LVCMOS33;

