NET "csn"       LOC = V26 | IOSTANDARD = LVCMOS33;
NET "sdi_dq0"   LOC = R30 | IOSTANDARD = LVCMOS33;
NET "sdo_dq1"   LOC = T30 | IOSTANDARD = LVCMOS33;
NET "wpn_dq2"   LOC = R28 | IOSTANDARD = LVCMOS33;
NET "hldn_dq3"  LOC = T28 | IOSTANDARD = LVCMOS33;

