NET "csn"       LOC = C23 | IOSTANDARD = LVCMOS33;
NET "sdi_dq0"   LOC = B24 | IOSTANDARD = LVCMOS33;
NET "sdo_dq1"   LOC = A25 | IOSTANDARD = LVCMOS33;
NET "wpn_dq2"   LOC = B22 | IOSTANDARD = LVCMOS33;
NET "hldn_dq3"  LOC = A22 | IOSTANDARD = LVCMOS33;

