CONFIG VCCAUX = "2.5";

NET "sdi_dq0"  LOC = T10 | IOSTANDARD = LVCMOS33;
NET "sdo_dq1"  LOC = P10 | IOSTANDARD = LVCMOS33;
NET "wpn_dq2"  LOC = N12 | IOSTANDARD = LVCMOS33;
NET "hldn_dq3" LOC = P12 | IOSTANDARD = LVCMOS33;
NET "csn"      LOC = T3  | IOSTANDARD = LVCMOS33;
NET "sck"      LOC = R11 | IOSTANDARD = LVCMOS33;
