CONFIG VCCAUX = "2.5";

NET "sdi_dq0"  LOC = P64 | IOSTANDARD = LVCMOS33;
NET "sdo_dq1"  LOC = P65 | IOSTANDARD = LVCMOS33;
NET "wpn_dq2"  LOC = P62 | IOSTANDARD = LVCMOS33;
NET "hldn_dq3" LOC = P61 | IOSTANDARD = LVCMOS33;
NET "csn"      LOC = P38 | IOSTANDARD = LVCMOS33;
NET "sck"      LOC = P70 | IOSTANDARD = LVCMOS33;
