CONFIG VCCAUX = "2.5";

NET "sdi_dq0"  LOC = AB20 | IOSTANDARD = LVCMOS25;
NET "sdo_dq1"  LOC = AA20 | IOSTANDARD = LVCMOS25;
NET "wpn_dq2"  LOC = R13  | IOSTANDARD = LVCMOS25;
NET "hldn_dq3" LOC = T14  | IOSTANDARD = LVCMOS25;
NET "csn"      LOC = AA3  | IOSTANDARD = LVCMOS25;
NET "sck"      LOC = Y20  | IOSTANDARD = LVCMOS25;
