CONFIG VCCAUX = "2.5";

NET "sdi_dq0"  LOC = AB17 | IOSTANDARD = LVCMOS33;
NET "sdo_dq1"  LOC = Y17  | IOSTANDARD = LVCMOS33;
NET "wpn_dq2"  LOC = V13  | IOSTANDARD = LVCMOS33;
NET "hldn_dq3" LOC = W13  | IOSTANDARD = LVCMOS33;
NET "csn"      LOC = AB5  | IOSTANDARD = LVCMOS33;
NET "sck"      LOC = W17  | IOSTANDARD = LVCMOS33;
