NET "csn"       LOC = L18 | IOSTANDARD = LVCMOS33;
NET "sdi_dq0"   LOC = H18 | IOSTANDARD = LVCMOS33;
NET "sdo_dq1"   LOC = H19 | IOSTANDARD = LVCMOS33;
NET "wpn_dq2"   LOC = G18 | IOSTANDARD = LVCMOS33;
NET "hldn_dq3"  LOC = F19 | IOSTANDARD = LVCMOS33;

