# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

cycloader
openFPGALoader
*.swp

# Build directory
build/

# Documentation
/doc/__pycache__/
/doc/_build/
/doc/_theme/
/doc/compatibility/boards.inc
/doc/compatibility/cable.inc
/doc/compatibility/fpga.inc
