CONFIG VCCAUX = "2.5";

NET "sdo" LOC = AA20 | IOSTANDARD = LVCMOS33;
NET "sdi" LOC = AB20 | IOSTANDARD = LVCMOS33;
NET "csn" LOC = T5   | IOSTANDARD = LVCMOS33;
NET "sck" LOC = Y21  | IOSTANDARD = LVCMOS33;
