# Connections as per UG365: Table 1-6: Virtex 6 FPGA Pin Definitions
# and Table 2-5: FF1156/RF1156 Package—LX130T, LX195T, LX240T, LX365T, SX315T, and SX475T
# BPI PROM XCF128X
#

# FCS_B (BPI/SPI chip select) => IO_L14P_FCS_B_24 (Y24)
# FOE_B_MOSI (BPI flash output enable/SPI MOSI) => IO_L14N_VREF_FOE_B_MOSI_24 (AA24)
# FWE_B (BPI flash write enable) => IO_L15P_FWE_B_24 (AF23)
# Dn: In BPI mode, D0 through D15 are configuration data-input pins.
# An: Address A0–A25 BPI address output.

# Control Signals
NET "bpi_ce_n"     LOC =  Y24 | IOSTANDARD = LVCMOS25;  # IO_L14P_FCS_B_24
NET "bpi_oe_n"     LOC = AA24 | IOSTANDARD = LVCMOS25;  # IO_L14N_VREF_FOE_B_MOSI_24
NET "bpi_we_n"     LOC = AF23 | IOSTANDARD = LVCMOS25;  # IO_L15P_FWE_B_24
# TODO: it wants bpi_adv but xc6 does not have?

# Address Output
# NET "bpi_addr[0]"  LOC =  AL8 | IOSTANDARD = LVCMOS25;  # IO_L13N_A00_D16_34
NET "bpi_addr[1]"  LOC =  AK8 | IOSTANDARD = LVCMOS25;  # IO_L13P_A01_D17_34
NET "bpi_addr[2]"  LOC =  AC9 | IOSTANDARD = LVCMOS25;  # IO_L12N_A02_D18_34
NET "bpi_addr[3]"  LOC = AD10 | IOSTANDARD = LVCMOS25;  # IO_L12P_A03_D19_34
NET "bpi_addr[4]"  LOC =   C8 | IOSTANDARD = LVCMOS25;  # IO_L7N_A04_D20_34
NET "bpi_addr[5]"  LOC =   B8 | IOSTANDARD = LVCMOS25;  # IO_L7P_A05_D21_34
NET "bpi_addr[6]"  LOC =   E9 | IOSTANDARD = LVCMOS25;  # IO_L6N_A06_D22_34
NET "bpi_addr[7]"  LOC =   E8 | IOSTANDARD = LVCMOS25;  # IO_L6P_A07_D23_34
NET "bpi_addr[8]"  LOC =   A8 | IOSTANDARD = LVCMOS25;  # IO_L5N_A08_D24_34
NET "bpi_addr[9]"  LOC =   A9 | IOSTANDARD = LVCMOS25;  # IO_L5P_A09_D25_34
NET "bpi_addr[10]" LOC =   D9 | IOSTANDARD = LVCMOS25;  # IO_L4N_VREF_A10_D26_34
NET "bpi_addr[11]" LOC =   C9 | IOSTANDARD = LVCMOS25;  # IO_L4P_A11_D27_34
NET "bpi_addr[12]" LOC =  D10 | IOSTANDARD = LVCMOS25;  # IO_L3N_A12_D28_34
NET "bpi_addr[13]" LOC =  C10 | IOSTANDARD = LVCMOS25;  # IO_L3P_A13_D29_34
NET "bpi_addr[14]" LOC =  F10 | IOSTANDARD = LVCMOS25;  # IO_L2N_A14_D30_34
NET "bpi_addr[15]" LOC =   F9 | IOSTANDARD = LVCMOS25;  # IO_L2P_A15_D31_34
NET "bpi_addr[16]" LOC =  AH8 | IOSTANDARD = LVCMOS25;  # IO_L18N_A16_34
NET "bpi_addr[17]" LOC =  AG8 | IOSTANDARD = LVCMOS25;  # IO_L18P_A17_34
NET "bpi_addr[18]" LOC =  AP9 | IOSTANDARD = LVCMOS25;  # IO_L17N_A18_34
NET "bpi_addr[19]" LOC =  AN9 | IOSTANDARD = LVCMOS25;  # IO_L17P_A19_34
NET "bpi_addr[20]" LOC = AF10 | IOSTANDARD = LVCMOS25;  # IO_L16N_A20_34
NET "bpi_addr[21]" LOC =  AF9 | IOSTANDARD = LVCMOS25;  # IO_L16P_A21_34
NET "bpi_addr[22]" LOC =  AL9 | IOSTANDARD = LVCMOS25;  # IO_L15N_A22_34
NET "bpi_addr[23]" LOC =  AK9 | IOSTANDARD = LVCMOS25;  # IO_L15P_A23_34
NET "bpi_addr[24]" LOC =  AE9 | IOSTANDARD = LVCMOS25;  # IO_L14N_VREF_A24_34
NET "bpi_addr[25]" LOC =  AD9 | IOSTANDARD = LVCMOS25;  # IO_L14P_A25_34

# Data Input
NET "bpi_dq[0]"    LOC = AF24 | IOSTANDARD = LVCMOS25;  # IO_L13N_D0_FS0_24
NET "bpi_dq[1]"    LOC = AF25 | IOSTANDARD = LVCMOS25;  # IO_L13P_D1_FS1_24
NET "bpi_dq[2]"    LOC =  W24 | IOSTANDARD = LVCMOS25;  # IO_L12N_D2_FS2_24
NET "bpi_dq[3]"    LOC =  V24 | IOSTANDARD = LVCMOS25;  # IO_L12P_D3_24
NET "bpi_dq[4]"    LOC =  H24 | IOSTANDARD = LVCMOS25;  # IO_L7N_D4_24
NET "bpi_dq[5]"    LOC =  H25 | IOSTANDARD = LVCMOS25;  # IO_L7P_D5_24
NET "bpi_dq[6]"    LOC =  P25 | IOSTANDARD = LVCMOS25;  # IO_L6N_D6_24
NET "bpi_dq[7]"    LOC =  R24 | IOSTANDARD = LVCMOS25;  # IO_L6P_D7_24
NET "bpi_dq[8]"    LOC =  G23 | IOSTANDARD = LVCMOS25;  # IO_L5N_D8_24
NET "bpi_dq[9]"    LOC =  H23 | IOSTANDARD = LVCMOS25;  # IO_L5P_D9_24
NET "bpi_dq[10]"   LOC =  N24 | IOSTANDARD = LVCMOS25;  # IO_L4N_VREF_D10_24
NET "bpi_dq[11]"   LOC =  N23 | IOSTANDARD = LVCMOS25;  # IO_L4P_D11_24
NET "bpi_dq[12]"   LOC =  F23 | IOSTANDARD = LVCMOS25;  # IO_L3N_D12_24
NET "bpi_dq[13]"   LOC =  F24 | IOSTANDARD = LVCMOS25;  # IO_L3P_D13_24
NET "bpi_dq[14]"   LOC =  L24 | IOSTANDARD = LVCMOS25;  # IO_L2N_D14_24
NET "bpi_dq[15]"   LOC =  M23 | IOSTANDARD = LVCMOS25;  # IO_L2P_D15_24
